.table-view {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 15px;
    list-style: none;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.table-view-cell {
    position: relative;
    padding: 11px 65px 11px 15px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.select-operation  {
    display: block;
    width: 95%;
    height: 34px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    -webkit-tap-highlight-color: transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
